#!/bin/env bash
# ------------------------------------------------------------------------------
# Configure Oracle GoldenGate (OGG) Microservices
# ------------------------------------------------------------------------------

export ORACLE_BASE="{{ oracle_base }}"
export ORACLE_HOME="{{ oracle_db_home }}"
export OGG_HOME="{{ software_location }}"
export ORACLE_SID={{ SID }}

case ":${PATH}:" in
    *":${ORACLE_HOME}/bin:"*) ;;
    *) export PATH="${ORACLE_HOME}/bin:${PATH}" ;;
esac

case ":${PATH}:" in
    *":${OGG_HOME}/bin:"*) ;;
    *) export PATH="${OGG_HOME}/bin:${PATH}" ;;
esac

if [[ -n "${LD_LIBRARY_PATH}" ]]
then
    case ":${LD_LIBRARY_PATH}:" in
        *":${ORACLE_HOME}/lib:"*) ;;
        *) export LD_LIBRARY_PATH="${ORACLE_HOME}/lib:${LD_LIBRARY_PATH}" ;;
    esac
    case ":${LD_LIBRARY_PATH}:" in
        *":${OGG_HOME}/lib:"*) ;;
        *) export LD_LIBRARY_PATH="${OGG_HOME}/lib:${LD_LIBRARY_PATH}" ;;
    esac
else
    export LD_LIBRARY_PATH="${OGG_HOME}/lib:${ORACLE_HOME}/lib"
fi

